/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, a,
ul, li, strong, main, button, i,
section, img, div, form,
fieldset, label, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
}

 html, body, div{
     padding: 10;
     margin: 10;
     font-family: 'Times New Roman', Times, serif;
 }

 .navbar-right {
     display: flex;
     justify-content: flex-end;
     padding: 0px;
     
    }
.navbar-right-second {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    
 }
 .logo-home {
     position: absolute;
    top: 3%;
    left: 4%;
    transform: translate(-30%, -25%);
    text-align: left;
 }
     .drop-down-button{
         background-color: white;
         padding: 30px 30px 30px 30px;
         box-shadow: lightgray;
         color: #39364F;
         text-decoration: none;
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-weight: 400;
         font-size: 13px;
         margin: 20px 20px 20px 20px;
     }
     .drop-down-button:hover{
         background-color: lightgray;
         box-shadow: #39364F;
     }
     .user-drop-down-button{
         background-color: white;
         padding: 20px 20px 20px 20px;
         box-shadow: lightgray;
         color: #39364F;
         text-decoration: none;
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-weight: 400;
         font-size: 13px;
         margin: 20px 20px 20px 20px;
     }
     .user-drop-down-button:hover{
         background-color: lightgray;
         box-shadow: black;
     }
     .button{
         background-color: white;
         padding: 30px 30px 30px 30px;
         box-shadow: lightgray;
         color: #39364F;
         text-decoration: none;
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-weight: 600;
         font-size: 13px;
        //  margin: 20px 20px 20px 20px;
     }

     .logout-button{
         height: 20px;
         width: 43px;
         background-color: white;
         padding: 30px 30px 30px 30px;
         box-shadow: lightgray;
         color: #39364F;
         text-decoration: none;
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-weight: 600;
         font-size: 13px;
        //  margin: 20px 20px 20px 20px;
     }

     .logout-button:hover{
         background-color: lightgray;
         box-shadow: black;
         cursor: pointer;
     }
   
     .button:hover{
         background-color: lightgray;
         box-shadow: black;
     }
     .button-create:hover{
         background-color: lightgray;
         box-shadow: black;
     }
     .logo-home{
         text-decoration: none;
         font-weight: 600;
         color: #f05537;
        font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
        font-size: 26px;
     }
 

    .session-form{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 95vh;
        height: auto;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .first-last{
        display: flex;
        flex-direction: row;
        width: 358px;
    }
    .form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    label{
        display: block;
        display: flex;
        flex-direction: column;
    }
    .input-box-filled{
        display: flex;
        background-color: darkgray;
        grid-column: 1;
        border: 1px solid gray;
        border-radius: 2px;
        line-height: 23%;
        min-height: 23%;
        
        font-size: 16px;
    }
    .input-box {
        grid-column: 1;
        border: 1px solid gray;
        border-radius: 2px;
        line-height: 23%;
        min-height: 23%;
        
        font-size: 16px;
    }
    .input-box-two {
        grid-column: 1;
        border: 1px solid gray;
        border-radius: 2px;
        line-height: 23%;
        min-height: 23%;
        
        font-size: 16px;
    }


 .home{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 300%;
 }
    .h1{
        grid-column-start: inherit;
        color: black;
        font-family: Helvetica, Arial, sans-serif;
        font-size: large;
        z-index: 1;
        text-align: left;
        width: 100%;
        padding-left: 53%;
        margin: 15px -50px 30px;
    }
    
    h2{
        grid-column-start: inherit;
        color: #f05537;
        font-family: Helvetica, Arial, sans-serif;
        font-size: large;
        z-index: 1;
        text-align: left;
        width: 100%;
        padding-right: 10px;
        margin: 25px -80px 0px;
    }
    
    h1.future-events{
        // grid-column-start: inherit;
        display: flex;
        color: black;
        font-family: Helvetica, Arial, sans-serif;
        font-size: large;
        z-index: 1;
        text-align: left;
        width: 100%;
        left: 35%;
        // padding-left: 50px;
        margin: 15px -80px 0px;
        font-size: 50px;
    }
  

    .help{
        font-size: 35px;
        font-weight: bold;
        padding: 10px;
        display: flex;
        align-items: flex-start;
    }
    
    // .future-events{
    //     font-size: 50px;
    //     padding: 10px;
    //     left: 40%;
    //     // margin-bottom: 90%;
    //     display: flex;
    //     // align-items: left;
        
    // }
    
    .nav-bar-button{
        display: flex;
        align-items: flex-end;
    }


.footer{
    position: absolute;
    margin-top: auto;
    width: 100%;
    background-color: purple;
    height: 50px;
    text-align: center;
    bottom: 100%
}

.footer a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    // display: flex;
    // align-items: stretch;
    // justify-content: space-evenly;
}

.errors-ul{
    text-decoration: none;
}

.errors{
    text-decoration: none;
    
}

.box{
    width: 500px;
    padding: 8px;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -25%);
    // background-color: white;
    text-align: left;
}


.box h1{
    color: #1e0a3c;
    font-weight: 600;
    font-size: 32px;
    text-align: left;
    position: absolute;
    top: -50%;
    left: 0%;
    // padding: 25%;
    padding-left: 55px;
    
}

.box-two h1{
    color: #1e0a3c;
    font-weight: 600;
    font-size: 32px;
    text-align: left;
    position: absolute;
    top: -20%;
    left: 0%;
    // padding: 25%;
    padding-left: 55px;
    margin-bottom: 70%;
}

.box input[type = "text"], .box input[type = "password"]{
    border: none;
    appearance: none;
    // background: none;
    display: block;
    margin: 0;
    text-align: left;
    border: 1px solid lightgray;
    padding: 18px 12px 2px;
    width: 358px;
    outline: none;
    color: black;
    border-radius: 3px;
    transition: 0.20s;
  
}

.input-box::placeholder{
    color: gray;
    font-size: 12px;
    padding-bottom: -5px;
}

.space-between{
    padding: 0px 0px 10px;
}

.login-button{
    border: 0;
    background: none;
    display: block;
    margin: 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    padding: 18px 8px 8px;
    width: 365px;
    outline: none;
    color: white;
    border-radius: 3px;
    transition: 0.20s;
    font-weight: 600;
    background-color: #f05537;
    position: absolute;
    top: 100%;
    left: 1%;
    cursor: pointer;
    
    // color: white;
}

.signup-button{
     border: 0;
    background: none;
    display: block;
    margin: 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    padding: 18px 8px 8px;
    width: 365px;
    outline: none;
    color: white;
    border-radius: 3px;
    transition: 0.20s;
    font-weight: 600;
    background-color: #f05537;
    position: absolute;
    top: 90%;
    left: 1%;
    cursor: pointer;
}
.to-events{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.session_submit{
    border: 0;
    background: none;
    display: block;
    margin: 2px;
    text-align: center;
    border: 2px solid gray;
    padding: 18px 8px 8px;
    width: 386px;
    outline: none;
    color: white;
    border-radius: 3px;
    transition: 0.20s;
    font-weight: 600;
    background-color: #f05537;
    position: absolute;
    top: 140%;
    left: 1%;
    cursor: pointer;
}
.demo-button{
    border: 0;
    background: none;
    display: block;
    margin: 2px;
    text-align: center;
    border: 2px solid gray;
    padding: 18px 8px 8px;
    width: 365px;
    outline: none;
    color: white;
    border-radius: 3px;
    transition: 0.20s;
    font-weight: 600;
    background-color: #f05537;
    position: absolute;
    top: 150%;
    left: 1%;
    cursor: pointer;
}

.box button:hover{
    background-color: #f8692b;
}



.link-to-signup{
    position: absolute;
    top: 250px;
    left: 2%;
    text-align: left;
    text-decoration: blue;
    color: blue;
}
.link-to-login-two{
    position: absolute;
    // top: 70%;
    left: 6%;
    text-align: left;
    text-decoration: blue;
    color: blue;
    width: 45px;
    margin-top: 35%;
}

// .link{
//     text-decoration: blue;
//     color: blue;
// }

.signin-input{
    border: none;
    appearance: none;
    background: none;
    display: block;
    margin: 0;
    text-align: left;
    border: 1px solid lightgray;
    padding: 18px 12px 2px;
    width: 358px;
    outline: none;
    color: black;
    border-radius: 3px;
    transition: 0.20s;
    right: -10vw;
}
.session-submit{
      border: 0;
    background: none;
    display: block;
    margin: 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    padding: 18px 8px 8px;
    width: 365px;
    outline: none;
    color: white;
    border-radius: 3px;
    transition: 0.20s;
    font-weight: 600;
    background-color: #f05537;
    position: absolute;
    top: 100%;
    left: 1%;
    cursor: pointer;
}

.session-form-two h1{
    font-family: Helvetica, Arial, sans-serif;
    color: #1e0a3c;
    font-weight: 600;
    font-size: 32px;
    text-align: left;
    position: absolute;
    top: -100%;
    left: -9%;
}
.session-form-three h1{
    font-family: Helvetica, Arial, sans-serif;
    color: #1e0a3c;
    font-weight: 600;
    font-size: 32px;
    text-align: left;
    position: absolute;
    top: -35%;
    left: -9%;
}

.link-to-login{
    position: absolute;
    top: 130px;
    left: 2%;
    text-align: left;
    text-decoration: blue;
    color: blue;
}
.link-to-login-two{
    position: relative;
    top: 70%;
    left: 2%;
    text-align: left;
    text-decoration: blue;
    color: blue;
}

.modal{
    display: flex;
    // position: fixed;
    // z-index: 1;
    // left: 0;
    // top: 0;
    // width: 100%;
    // height: 100%;
    // overflow: auto;
    // background-color: rgb(0,0,0);
    // background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // width: 100%;
    margin: 40px;
    height: 850px;
}

.modal-content{
    background-color: white;
    margin: 15% auto;
    padding: 50;
    border: 1px, solid gray;
    border-radius: 5px;
    width: 400px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    
}
.modal-content label{
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 100px;
}

input.title-input{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1;
        border: 1px solid gray;
        border-radius: 5px;
        line-height: 23%;
        min-height: 23%;
        // margin: 20%;
        padding: 20px;
        font-size: 16px;
        width: 400px;
}

select{
    width: 440px;
    height: 60px;
    text-align: center;
}

input.img-input{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1;
        border: 1px solid gray;
        border-radius: 5px;
        line-height: 23%;
        min-height: 23%;
        // margin: 20%;
        padding: 20px;
        font-size: 16px;
        width: 400px;
}
textarea.desc-input{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1;
        border: 1px solid gray;
        border-radius: 5px;
        width: 400px;
        // line-height: 23%;
        min-height: 23%;
        padding: 20px;
        font-size: 16px;
}
input.date-input{
        display: flex;
        justify-content: center;
        align-items: center;
        // grid-column: 1;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 20px;
        width: 400px;
        // line-height: 23%;
        // min-height: 23%;
        // margin: 20%;
        margin-right: 13%;
        font-size: 16px;
        cursor: pointer;
}
select.category{
        display: flex;
        justify-content: center;
        align-items: center;
        // grid-column: 1;
        border: 2px solid gray;
        border-radius: 5px;
        // line-height: 23%;
        // min-height: 23%;
        padding: 20px;
        // margin: 20%;
        font-size: 16px;
        width: 400px;
               
        &:hover{
            cursor: pointer;
        }
}

// input.author-input{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         grid-column: 1;
//         border: 1px solid gray;
//         border-radius: 5px;
//         line-height: 23%;
//         min-height: 23%;
//         padding: 20px;
//         // margin: 20%;
//         font-size: 16px;
//         width: 400px;
// }
input.time-start-input{
        display: flex;
        justify-content: center;
        align-items: center;
        // grid-column: 1;
        border: 2px solid gray;
        border-radius: 5px;
        padding: 20px;
        // line-height: 23%;
        // min-height: 23%;
        // margin: 20%;
        font-size: 16px;
        width: 420px;
        // cursor: pointer;
}
input[type="time" i] {
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    padding-inline-start: 2px;
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    width: 420px;
}
input.time-end-input{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 20px;
        width: 420px;
        // line-height: 23%;
        // min-height: 23%;
        // margin: 20%;
        font-size: 16px;
        // cursor: pointer;
}
input.time-input{
    cursor: pointer;
}

h1.create-event-form-type{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100px;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    color: #f05537;
}

  #my-button{
         background-color: white;
         padding: 30px;
         
         box-shadow: lightgray;
         color: blue;
         text-decoration: none;
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-weight: 600;
         font-size: 13px;
         border: none;
         cursor: pointer;
        //  margin: 20px 20px 20px 20px;
     }

     #my-button:hover{
         background-color: lightgray;
         box-shadow: #39364F;
     }

  .button-to-login{
         background-color: white;
         padding: 30px 30px 30px 30px;
         box-shadow: lightgray;
         color: blue;
         text-decoration: none;
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-weight: 400;
         font-size: 13px;
         border: none;
         cursor: pointer;
     }

    .button-to-login:hover{
        background-color: lightgray;
        box-shadow: #39364F;
    }

.event-input{
    display: flex;
    justify-content: center;
    align-items: center;
    // grid-column: 1;
    border: 1px solid gray;
    border-radius: 5px;
    width: 400px;
    min-height: 23%;
    padding: 20px;
    font-size: 16px;

}

.date-input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 378px;
}

// .modal-close{
//     color: #f05537;
//     float: right;
//     font-size: 16px;
//     font-weight: bold;
// }

.modal-submit{
    border: 0;
    background: none;
    display: flex;
    margin: 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    padding: 15px 10px 15px;
    margin-left: -25px;
    width: 420px;
    outline: none;
    color: white;
    border-radius: 5px;
    transition: 0.20s;
    font-weight: 600;
    background-color: #f05537;
    // position: absolute;
    // top: 100%;
    // left: 1%;
    cursor: pointer;
    &:hover{
        cursor: pointer;
        background-color: #f8692b;
    }

}

.berry-img{
    background-repeat: no-repeat, no-repeat ;
    background-size: 50%;
    background-position: right;
}

.dubai-image{
    position: absolute;
    width: 300%;
    height: 900%;
    max-inline-size: inherit;
    max-width: 800px;
    margin: 0px 0vw 0px 0px;
    position: absolute;
    right: -55vw;
    bottom: -35vw;
}


    .float-container{
        
        width: 50%;
        max-width: 600px;
        position: absolute;
        margin: 30px 10vw 100px;
        left: -6vw;
        top: 70px;
        background-color: rgb(224, 224, 224);
    }
    .float-child{
        width: 100%;
        max-width: 600px;
        position: absolute;
        margin: 75px 10vw 100px;
        left: 10%;
        background-color: rgb(230, 228, 228);
        height: 300px;
    }

    .forest-image{
        width: 140%;
        max-width: 600px;
        height: 400px;
        position: absolute;
        margin: 30px 10vw 100px;
        left: 83%;
        // right: 80%;
        box-shadow: 10px 10px 5px grey;
    }
    .home-button{
        display: flex;
        justify-content: center;
        position: relative;
        // right: -10%;
        left: -13%;
        // top: 60%;
        align-items: center;
        width: 250px;
        height: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 60px;
        margin-right: 60px;
        background-color: #f05537;
        color: white;
        border-radius: 20px;
    }


    .home-button:hover{
        background-color: lightsalmon;
        cursor: pointer;
    }

    .link-to{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: inherit;
        right: 5vw;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .burj-image{
        position: absolute;
        width: 300%;
        height: 1350%;
        max-inline-size: inherit;
        max-width: 150%;
        margin: 0px 0px 0px 0px;
        position: absolute;
        left: 95.5%;
        top: -660%;
    }

    .desert-image{
         position: absolute;
        width: 250%;
        height: 100%;
        max-inline-size: inherit;
        max-width: 800px;
        margin: 0px 0vw 0px 0px;
        position: absolute;
        right: -5%;
        bottom: 0vw;
    }

    .signin-box{
        right: 50vw;
        margin: 20px 20px 20px 20px;
    }
    
    .tab-header{
        width: 1100px;
        height: 30px;
        margin: 0 20px;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        right: 200px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .tab-header > li{
        width: 65px;
        border-top: 2px solid white;
        border-right: 1px solid white;
        border-bottom: 2px solid white;
        border-left: 1px solid white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding-top: 4px;
        text-align: center;
        cursor: pointer;
        background-color: white;
        color: gray;
    }   

    .tab-header > li:first-child{
        border-left: 2px solid white;
    }

    .tab-header > li:last-child{
        border-right: 2px solid white;
    }

    .tab-header > li:hover{
        text-decoration: underline;
        color: black;
        bottom: -3px;
        

    }
    
    .active{
        text-decoration: underline;
        font-weight: bold;
        color: blue;
    }

    .tabs{
        width: 1040px;
        height: 200px;
    }

    .tab-content{
        font-weight: bold;
        color: black;
        height: 200px;
        margin: 0 20px;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        background-size: contain;
    }

    .tab-content article{
        text-align: center;
    }

    .interacting{
        // display: flex;
        // justify-content: center;
        // align-items: center;
        margin-top: 600px;
        margin-bottom: 200px;
        bottom: -3px;
    }
    


    .title-header{
        font-size: 40px;
        margin-bottom: 20px;
    }

    .search-bar{
        margin: 10px 10px 10px 10px;
        height: 50px;
        width: 600px;
        background-color: rgb(228, 225, 225);
        color: black;
        border: 1px black;
        padding: 5px 5px 5px 5px;
        // left: -50vw;
        // left: 50vw;
    }

    .search-bar-div{
        position: absolute;
        // left: 500px;
        right: 650px;
        top: -2px;
        background-color: white;
    }
    

    .greeting{
        display: flex;
        justify-content: flex-start;
        align-items: left;
        right: 100vw;
    }

    .title-signup h1{
        position: absolute;
        left: -200px;
         color: #1e0a3c;
        font-weight: 600;
        font-size: 32px;
        text-align: left;
        position: absolute;
        top: -50%;
        left: 0%;
        // padding: 25%;
        padding-left: 55px;
    }

    .square{
        position: absolute;
        height: 100px;
        width: 100px;
    }

    .main-event{
        position: fixed;
        bottom: 5%
    }

    .main-event{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        left: 10%;
        top: 60%;
        // margin: 150px auto 50px auto;
        // padding: 0 30px;
       
    }

    .event-index-card {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 22%;
        min-width: 275px;
        height: 250px;
        margin-right: 25px;
        margin-bottom: 25px;
        box-shadow: 0px, 0px, 15px, 2px rgba(180, 180, 180, 0.4);
        transition: box-shadow 0.25s;
        padding-bottom: 20px;
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 700;
        &:hover {
            box-shadow: 0px 0px 15px 8px rgba(110, 110, 110, 0.2);
            transition: box-shadow 0.25s;
        }
        
    }
    
    .event-index-card-comp{
        left: 50vw;
        outline-width: 10px;
        outline-color: gray;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .event-idx-small-title{
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 700;
    }

    .event-idx-small-date{
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: orange; 

    }

    .events-near-you{
        font-weight: 1000;
        font-size: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        // bottom: 55%;
        top: 50%; 
    }


    .event-index {
        display: flex;
        max-width: 1200px;
        position: relative;
        top: 80%;
        // margin-top: 700px;
        flex-direction: column;
        margin: 500px auto 50px auto;
        padding: 0 30px;

        h2{
            font-family: sans-serif;
            font-size: 36px;
            font-weight: 700;
            color: black; 
            margin-top: 70px;
            margin-bottom: 70px;
            margin-left: 15px;
        }
    }

    .event-index-list {
        display: flex;
        flex-wrap: wrap;
        // margin-top: 700px;
        justify-content: flex-start;
        max-width: 100%;
        margin: 0 auto;
        margin-right: -15px; 
    }

    .event-index-item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 22%;     
        min-width: 275px;
        height: 280px;
        margin-right: 25px;
        margin-bottom: 25px;
        box-shadow: 0px 0px 15px 2px rgba(180, 180, 180, 0.2);
        transition: box-shadow 0.25s;
        padding-bottom: 20px;

        &:hover{
            cursor: pointer;
            box-shadow: 0px 0px 15px 8px rgba(110, 110, 110, 0.2);
            transition: box-shadow 0.25s;
        }
    }
    .event-index-image{
        padding-bottom: 110px;
    }

    .event-index-date{
        margin-top: -10px;
        padding-bottom: 5px;
        color: #f05537;
        font-size: 14px;
        font-weight: 500;
    }

    .event-index-title{
        margin-top: 10px;
        padding: 0 15px;
        font-size: 20px;
        font-weight: 700;
    }

    .blue {
        color: blue;
    }